[submodule "src/github.com/google/go-querystring"]
	path = src/github.com/google/go-querystring
	url = https://github.com/google/go-querystring
[submodule "src/gopkg.in/intercom/intercom-go.v2"]
	path = src/gopkg.in/intercom/intercom-go.v2
	url = https://gopkg.in/intercom/intercom-go.v2
[submodule "src/github.com/pborman/uuid"]
	path = src/github.com/pborman/uuid
	url = git@github.com:pborman/uuid.git
